# plotly                          3.8.1
# dash                            1.0.1    
# dash-core-components            1.0.0    
# dash-dangerously-set-inner-html 0.0.2    
# dash-html-components            1.0.0    
# dash-renderer                   1.0.0    
# dash-table                      4.0.1 
   
gunicorn
xmlschema
soundfile
dash
pandas
dash_table
pyyaml
dash_core_components
dash_html_components
dash-dangerously-set-inner-html
yattag
bs4
soundfile

