.header {
	background-color: red;
	text-align: center;
}

.banner {
	background-image: url('slexilBanner.jpg');
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	min-height: 250px;
	width: 100%;
}

.tiermap {
  table-layout:fixed;
  margin: 100;
  margin-top: 10;
  margin-bottom: 0;
  width: 600;
}

.first {
  width: 20%;
  background-color; red;
}

.second {
  width: 40%;
}

.third {
  width: 40%;
}

.tierMenuPulldown {
	background-colour: blue;
}

.demoButton {
	margin-left: 30;
	margin-top: 20;
	width: 320;
	font-size: 12;
	float: right;
}