.header {
	background-color: red;
	text-align: center;
}

.banner {
	background-image: url('slexilBanner.jpg');
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	max-width: 975px;
	min-height: 220px;
	width: 100%;
	#border: 3px solid red;
	border-style: solid;
	border-width: 1px 6px 15px 1px;
	border-radius: 5px;
	border-color: #00BFFF;
}

.tiermap {
  table-layout:fixed;
  margin: 100;
  margin-top: 10;
  margin-bottom: 0;
  width: 600;
}

.tierDiv {
	margin-left: 10px;
	margin-bottom: 10px;
}

.first {
  width: 30%;
  background-color; red;
}

.second {
  width: 50%;
}

.third {
  width: 20%;
}

.tierMenuPulldown {
	width: 160px;
}

.allDivs {
	#margin-left: 30px;
	margin-top: 20px;
	margin-bottom; 20px;
	padding: 5px 5px 5px 5px;
	width: 775px;
	font-size: 12;
	#border: 1px solid #aaa;
	border-style: solid;
	border-width: 1px 6px 15px 1px;
	border-radius: 5px;
	border-color: #00BFFF;
}

.mainDiv {
	max-width: 1050px;
	margin-left: 25px;
}

.row {
	max-width: 1000px;
	margin-left: 30;
	margin-top: 20;
	width: 320;
	font-size: 12;
}

.button {	
	#width: 140px;
	#height: 60px;
	color: black;
	font-family: Helvetica Neue;
	margin-right: 10;
	line-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-radius: 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.button:disabled {
	border: 1px solid #EBE6E5;
  	background-color: #EBE6E5;
  	color: white;
}

.fakebutton, .fakebutton:hover {
	width: 140px;
	height: 40px;
	border: 1px solid #EBE6E5;
	border-radius: 8px;
  	background-color: #EBE6E5;
  	color: white;
	font-family: Helvetica Neue;
	margin-right: 20px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-left: 0px;
	grid-column: 1;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 13pt;
}
.fakebuttonEnabled, .fakebuttonEnabled:hover {
	width: 140px;
	height: 40px;
	color: black;
	font-family: Helvetica Neue;
	margin-right: 10;
	line-height: 38px;
	border-width: 1px;
	border-style: solid;
	border-radius: 8px;
	border-color: #aaa;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 13pt;
}

.fakeLinkOff {
	font-family: Helvetica Neue;
	text-align: center;
	text-decoration: none;
	color: white;
}

.fakeLinkOn {
	color: black;
}

.allDivs .button {
	grid-column: 1;
}

.introduction {
	font-size: 14pt;
	width: 100%;
	display: inline-block;
}

.buttonCell {
	vertical-align: top;
}

summary {
	font-size: 14pt;
}

summary:focus {
	outline: none;
}

.titleInput {
	display: inline-block;
	width: 575px;
	height: 40px;
	font-size: 14pt;
	margin-left: 20px;
	margin-right: 40px;
	margin-bottom: 30px;
}

.webpageFrame {
	width: 725px;
	height: 800px;
	margin-left: 20px;
}

.webFrameButtonBox {
	margin-left: 20px;
	margin-top: 20px;
	display: flex;
	justify-content: right;
}

.textarea {
	width: 575px;
	height: 40px;
	margin-left: 20px;
	margin-right: 40px;
	margin-bottom: 30px;
	display: inline-block;
	grid-column: 2;
}

.selectionBox {
	display: grid;
	grid-template-columns: 140px 500px;
	align-content: center;
	margin-top: 20px;
}

.warningfootnote {
	color: red;
	padding-right: 50px;
	float: right;
}

.warningOff {
	display: none;
}

.warningOn {
	display: inline-block;
	width: 450px;
	height: 40px;
	color: red;
	margin-left: 15px;
	margin-top: 9px;
}